<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CA106_G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>memberServlet</servlet-name>
  	<servlet-class>com.mem.controller.memberServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>memberServlet</servlet-name>
  	<url-pattern>/Front_end/mem/mem.do</url-pattern>
  </servlet-mapping>
  
  <!-- 昀翰 -->
  <servlet>
		<servlet-name>TicketorderServlet</servlet-name>
		<servlet-class>com.ticketorder.controller.TicketorderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TicketorderServlet</servlet-name>
		<url-pattern>/ticketorder/ticketorder.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>MealsorderdetailServlet</servlet-name>
		<servlet-class>com.mealsorderdetail.controller.MealsorderdetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MealsorderdetailServlet</servlet-name>
		<url-pattern>/mealsorderdetail/mealsorderdetail.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>TicketinformationServlet</servlet-name>
		<servlet-class>com.ticketinformation.controller.TicketinformationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TicketinformationServlet</servlet-name>
		<url-pattern>/ticketinformation/ticketinformation.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>DepServlet</servlet-name>
    <servlet-class>com.dep.controller.DepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepServlet</servlet-name>
    <url-pattern>/Front_end/dep/dep.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>PermServlet</servlet-name>
  	<servlet-class>com.perm.controller.PermServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PermServlet</servlet-name>
  	<url-pattern>/Back_end/perm/perm.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Cus_serServlet</servlet-name>
    <servlet-class>com.cus_ser.controller.Cus_serServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cus_serServlet</servlet-name>
    <url-pattern>/Front_end/cus_ser/cus_ser.do</url-pattern>
  </servlet-mapping>
  
  
</web-app>